@font-face {
  font-family: "segoe ui";
  src: url("../font/Segoe UI.woff");
}

@font-face {
  font-family: "segoe ui blod";
  src: url("../font/Segoe UI Bold.woff");
}

@font-face {
  font-family: "segoe ui light";
  src: url("../font/Segoe UI Light.woff");
}

* {
  margin: 0;
  padding: 0;
}

a {
  list-style: none;
}

.lehrblanc {
  width: 45px;
  margin-bottom: 3%;
  border: white solid 1px;
}

.lehrnoir {
  width: 45px;
  margin-bottom: 3%;
  border: black solid 1px;
}

body header {
  background-image: url("../img/background_header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 679px;
  color: white;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

body header .barre {
  background-color: #414b53;
  opacity: 0.6;
  font-size: bold;
}

body header .barre nav {
  height: 117px;
}

body header .barre nav .navbar-brand {
  font-size: 30px;
  font-family: 'segoe ui';
  font-size: bold;
}

body header .barre nav .nav-item {
  font-size: 14px;
  font-family: 'segoe ui';
}

body header .barre nav span {
  color: #6fa2cc;
}

body header #hero {
  height: 100vh;
  border: solid 1px black;
  padding-top: 196px;
}

body header #hero .titre {
  background-color: #475159;
}

body header #hero h1 {
  margin-left: auto;
  margin-right: auto;
  font-size: 42px;
  font-family: 'segoe ui';
}
/* @media screen and (min-width:350px) and (max-width: 812px){
  body header h1{
    font-size: 15px !important;
  }
} */

@media screen and (max-width: 768px) {
  body header #hero h1 {
    font-size: 20px;
  }
}

@media screen and (max-width: 576px) {
  body header #hero h1 {
    font-size: 20px;
  }
}
@media screen and (max-width:568px){
  body header #hero h1{
    font-size:16px;
  }
}


body #section1 {
  height: 400px;
  background-color: #4bcaff;
  color: white;
}
@media screen and (max-width: 991px){
body #section1 {
    height: 868px;
}
}

body #section1 h2 {
  font-family: 'segoe ui light';
}

body #section1 .container {
  padding-top: 28px;
}

body #section1 p {
  font-size: 12px;
  font-family: 'segoe ui';
}

@media screen and (max-width: 1024px) and (min-width: 768px){
  body #section1 p  {
    
    font-size: 20px;
    
  }
  }

body #section1 h3 {
  padding-top: 24px;
  font-size: 24px;
}

body #section2 {
  height: 840px;
  background-color: white;
}
/* @media screen and (max-width: 991px) {
  body #section2 #myBtnContainer{
      display: block !important
  }
} */

body #section2 h3 {
  padding-top: 26px;
  font-size: 30px;
  font-family: 'segoe ui';
}
/* @media screen and (max-width: 1024px) and (min-width: 768px){
  body #section1  {
    position: relative;
    right: 27%
    font-size: 20px;
    
  }
  } */

body #section2 .alignehrh3{
  padding-left: 25px;
}

@media screen and (max-width: 991px) {
  body #section2 .alignehrh3 {
    padding-left: 13px;
  }
}

@media screen and (max-width: 991px) {
  body #section2 #myBtnContainer {
    padding-top: 2%;
    /* display: flex !important;
    flex-direction: row !important; */
  }
}

#section2 .topsection .btn {
  border: solid 2px transparent;
  padding: 6px 16px;
  font-size: 14px;
  margin-left: 3px;
  margin-right: 3px;
  color: var(--grey-color);
  font-family: "Segoe UI Bold";
  outline: none;
  border-radius: 0px;
}

#section2 .topsection .btn:hover {
  border: solid 2px var(--blue-color);
  color: var(--blue-color);
}

#section2.topsection .btnactive {
  border: solid 2px var(--blue-color);
  color: var(--blue-color);
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
}
body #section2 img {
  margin: 10px;
  width: 100%;
}

body #section3 {
  background-color: #515f67;
  color: white;
  min-height: 472px;
}

@media screen and (min-width: 813px) and (max-width: 1025px){
  body #section3{
      min-height: 847px;
  }
 
}



@media screen and (min-width:350px) and (max-width: 812px){
  body #section3{
    min-height: 585px;
  }
}

@media screen and (min-width:315px) and (max-width: 812px){
  body #section3 #video{
    position: inherit !important;
    top: 0vh !important;
  }
}


/* @media screen and (min-width:350px) and (max-width: 812px){
  body #section1 h1{
    font-size: 15px;
  }
} */


 @media screen and (max-width: 1367px) and (min-width: 767px){
body #section3 {
    min-height: 1005px;
}
}
body #section3 h3 {
  font-size: 30px;
  font-family: 'segoe ui';
}

body #section3 p {
  font-size: 14px;
  font-family: 'segoe ui';
}

body #section3 #paragraphvisitme {
  height: 100%;
}

body #section3 #justdefault {
  height: 100%;
}

body #section3 #default {
  height: 68%;
  margin-top: 6%;
}


body #section3 #video{

  position: absolute;
  top: 10vh;

}

@media screen and (max-width: 991px) {
  body #section3 #video {
      margin-bottom: 7%;
  }
}
@media screen and (min-width: 813px) and (max-width: 1367px){
  body #section3 #video{
      position:absolute;
      top:0vh;
  }

}
@media screen and (min-width: 767px) and (max-width: 1367px){
  body #section3 p{
      font-size: 20px;
  }

}


body #section3 button {
  width: 30%;
  border-color: black;
  background-color: transparent;
  padding: 8px;
}

body #section4 {
  height: 305px;
  background-color: #4bcaff;
}
@media screen and (max-width: 991px) {
 body #section4 {
      height: 338px;
  }
}
body #section4 h3 {
  font-size: 30px;
}

body #section4 p {
  margin-right: -2%;
}

body #section4 #twitter {
  padding-top: 5%;
  font-size: 28px;
}

body #section4 #twitter i {
  padding-left: 520px;
}

@media screen and (max-width: 768px) {
  body #section4 #twitter i {
    padding-left: 100px;
  }
}

body #section5 {
  min-height: 497px;
  background-image: url("../img/who_is.png");
  background-repeat: no-repeat;
  max-width: 100%;
  font-family: "segoe ui";
  background-size: cover;
  color:white !important;
}

body #section5 #johndoe {
  padding-top: 38px;
  
}

body #section5 h3 {
  font-size: 30px;
  font-family: "segoe ui light";
}

body #section5 .listdescription #listsocial {
  font-size: 28px;
}



@media screen and (max-width: 991px) {
  body #section5 .listdescription #listsocial{
       display: flex !important;
flex-direction: row !important;
margin-bottom: 5%;
   }
 }


body #section5 .listdescription #listsocial i {
  margin-right: 10px;
  margin-left: 10px;
  border-width: 2px;
  border-style: ridge;
  border-color: white;
  padding: 13px;
  margin-top: 4%;
  height: 58px;
  width: 62px;
}

@media screen and (max-width: 768px) {
  body #section5 .listdescription #listsocial {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 15px;
  }
}

#testimonial {
  background-color: white;
  color: black;
  padding: 70px 0px;
  font-family: "Segoe UI";
  font-weight: 400;
}

#testimonial .topsection {
  height: auto;
}

#testimonial .topsection h2 {
  padding: 0;
  margin-bottom: 2px;
  font-family: "Segoe UI Light";
  font-weight: 400;
}

#testimonial .topsection #quotes {
  font-size: 28px;
  color: black;
}

#testimonial hr {
  border: solid 1px var(--grey-color) !important;
  width: 42px;
  margin-top: 5px;
  margin-bottom: 30px;
}

#testimonial p {
  font-size: 27px;
  font-family: "Segoe UI Light";
  font-weight: 400;
}

#testimonial #author {
  font-family: "Segoe UI Bold";
  font-weight: 400;
  font-size: 14px;
  color: var(--blue-color);
  margin-top: 25px;
}

body #contact {
  background-image: url("../img/hoverBackground_contact.png");
  background-size: cover;
  background-position: top;
  padding: 70px 0px;
  color: white;
  font-family: "segoe ui";
}

body #contact h2 {
  font-family: "segoe ui";
}

body #contact .column2 {
  text-decoration: none;
}

body #contact #textarealabel {
  margin-top: 50px;
}

body #contact .btnsubmit {
  margin-top: 20px;
}
@media screen and (max-width: 991px) {
  body #contact .btnsubmit {
    width: 92vw;
    }
  }
body #contact button {
  background-color: #4bcaff;
  border: none;
  height: 59px;
  width: 370px;
}

@media screen and (max-width: 768px) {
  body #contact p, body #contact ul {
    display: none;
  }
}

body #contact #exampleFormText {
  width: 100%;
  height: 57px;
  color: white;
}

body #contact #exampleFormControlInput1 {
  width: 100%;
  height: 57px;
  color: white;
}
@media screen and (max-width: 991px) {
  body #contact .btnsubmit {
    width: 92vw;
    }
  }


body #contact #exampleFormControlInput1 {
  width: 28vw;
  /* width:69vw; */
}

body footer {
  height: 169px;
  background-color: #353f47;
  padding: 50px 0px;
  color: grey;
}

@media screen and (max-width: 991px) {
  body footer ul {
    width: 91vw;
display: flex !important;
flex-direction: row !important;
height: 12vh;
    }
  }


body footer a {
  color: grey;
  font-size: 14px;
}

body footer .firstlink {
  padding-left: 10px !important;
}
/*# sourceMappingURL=style.css.map */